.endby__form__item {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  width: 33%;
}

.min_width_11 {
  min-width: 11rem;
}

.min_width_8 {
  min-width: 8rem;
}

.date__picker {
  cursor: pointer;
  width: 100%;
}

.icon__font__size {
  font-size: 1rem;
}

.endby__repeat__count {
  margin-bottom: 0.5rem;
  width: 33%;
  min-width: 5rem;
}

.cursor__pointer {
  cursor: pointer;
}