.form__item__name {
  height: 1rem;
  width: 35rem;
  margin-right: 1rem;
}

.input__field {
  font-weight: bold;
  font-size: 24px;
  padding: 0rem;
  margin: 0rem;
}

.margin__right {
  margin-right: 0.2rem;
}