#menu__icon {
  font-size: 1.5rem;
  margin: -0.25rem;
}

#layout__sider {
  overflow: auto;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
}

#avatar{
  margin: 0.15rem;
  cursor: pointer;
}

#theme__button {
  cursor: pointer;
}