@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import url("https://fonts.googleapis.com/css?family=fantasy");

.App {
  font-family: "Open Sans", Arial, Verdana, Helvetica, sans-serif;
}

.content {
  padding: 1rem;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: #fafafa;
}

::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bfbfbf;
}
