.tag__margin {
  margin-right: 3;
}

.schedule__content {
  width: 15rem;
}

.form__field {
  cursor: pointer;
  width: 100%;
}

.wrapper__div {
  padding: 0rem 1rem;
}

.input__field {
  padding: 0.5rem 0rem 0rem 0rem;
}

.nested__div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.select__field {
  min-width: 10rem;
  max-width: 10rem;
}

.styled__space {
  float: right;
  padding-bottom: 0.5rem;
}