.prefix__icon {
  margin-right: 0.5rem;
}

.input__field {
  margin-top: 2rem;
}

.alert__message {
  margin: 1.5rem 2rem;
}

.divider {
  padding: 0rem 2rem;
}

.sign__in__button {
  padding-left: 0.5rem;
}